<%- include('includes/head.ejs') %>

</head>

<body>
    
   <%- include('includes/navigation.ejs') %>
   
    <!-- Cart view section -->
    <section id="aa-myaccount">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div class="aa-myaccount-area">
               <div class="row">
                 <div class="col-md-6">
                   <div class="aa-myaccount-login">
                   <h4 style="text-align:center;">Edit Post</h4>
                    <form action="/user/edit-post" method="POST" class="aa-login-form">
                     
                      <label for="">City<span>*</span></label>
                      <input type="text" id="city" name="city" value="<%=post[0].city%>" placeholder="City">

                      <label for="">Name<span>*</span></label>
                      <input type="text" id="name" value="<%=post[0].name%>"  name="name" placeholder="Name">

                      <label for="">Contact Number<span>*</span></label>
                      <input type="text" id="contact" value="<%=post[0].contact %>"  name="contact" placeholder="Contact Number">

                      <label for="">Address<span>*</span></label>
                      <input type="text" id="address" value="<%=post[0].address%>"  name="address" placeholder="Address">

                      <label for="">Type<span>*</span></label>
                      <br>
                      <input type="radio" id="consumable" name="type" value="Consumable" >
                      <label for="consumable">Consumable</label>
                      <input type="radio" id="nonconsumable" name="type" value="Non Consumable">
                      <label for="nonconsumable">Non Consumable</label>

                      <br>
                      <label for="">Description<span>*</span></label>
                      <input type="text" id="description"  value="<%=post[0].description%>" name="description" placeholder="Description">

                      <label for="">Today's Date'<span>*</span></label>
                      <input type="date" id="tdate" name="tdate"  value="<%=post[0].tdate%>" placeholder="Today's Date'">
                      <br>
                      <label for="">Availibility Status<span>*</span></label>
                      <br>
                      <input type="radio" id="yes" name="status" value="Yes">
                      <label for="yes">Yes</label>
                      <input type="radio" id="no" name="status" value="No">
                      <label for="no">No</label>
                      
                      <input type="hidden" value="<%= post[0].postId %>" name="postid">

                      <br>
                       <button style="margin-left: 45%;" type="submit" class="aa-browse-btn">Submit</button>
                     </form>
                     <br><br><br>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Cart view section -->

<%- include('includes/end.ejs') %>